@page "/race"
@inject IJSRuntime JS

<h3>Car Race Game</h3>
<canvas id="raceCanvas" width="400" height="600" style="border:1px solid black;"></canvas>
<button @onclick="StartGame">Start Game</button>

@code {
    private async Task StartGame()
    {
        await JS.InvokeVoidAsync("startRace");
    }
}
