@page "/racegame"
@inject IJSRuntime JS

<h3>Car Race Game</h3>

<canvas id="gameCanvas" width="500" height="700" style="border: 2px solid black;"></canvas>

@code {
    private bool isRunning = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("startGame");
        }
    }
}
